{% extends 'base.html' %}

{% block content %}
		<!-- breadcrumb area start -->
		<section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<h1>Celebrity</h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- transformers area start -->
		<section class="transformers-area">
			<div class="container">
				<div class="transformers-box">
					<div class="row flexbox-center">
						<div class="col-lg-5 text-lg-left text-center">
							<div class="transformers-content" style="text-align: center;">
    							<img src="{{ celebrity.image.url }}" alt="about" style="display: block; margin: 0 auto;" />
							</div>

						</div>
						<div class="col-lg-7">
							<div class="transformers-content mtr-30">
								<h2>{{ celebrity.first_name }} {{ celebrity.surname }}</h2>
								<a href="#" class="theme-btn">Biography</a>
								<a href="#">Filmography</a>
								<ul>
									<li>
										<div class="transformers-left">
											Name:
										</div>
										<div class="transformers-right">
											{{ celebrity.first_name }}
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Surname:
										</div>
										<div class="transformers-right">
											{{ celebrity.surname }}
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Birth date:
										</div>
										<div class="transformers-right">
											{{ celebrity.birth_date }}
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Country:
										</div>
										<div class="transformers-right">
											{{ celebrity.country }}
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Short biography:
										</div>
										<div class="transformers-right">
											{{ celebrity.short_bio }}
										</div>
									</li>


									<li>
										<div class="transformers-left">
											Alive:
										</div>
										<div class="transformers-right">

											{% if celebrity.is_alive %}
											Да
											{% else %}
											Нет
											{% endif %}

										</div>

									</li>
									<li>
										<div class="transformers-left">
											Roles:
										</div>
										<div class="transformers-right">
											{% for rol in celebrity.role.all %}
												{{ rol.name }}
											{% endfor %}
										</div>
									</li>
									<li>
										<div class="transformers-left">
											Follow:
										</div>
										<div class="transformers-right">
											<a href="#"><i class="icofont icofont-social-facebook"></i></a>
											<a href="#"><i class="icofont icofont-social-twitter"></i></a>
											<a href="#"><i class="icofont icofont-social-google-plus"></i></a>
											<a href="#"><i class="icofont icofont-youtube-play"></i></a>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- transformers area end -->
		<!-- details area start -->
		<section class="details-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-9">
						<div class="details-content">
							<div class="details-overview">
								<h2>Biography</h2>
								<p>{{ celebrity.biography }}</p>
								 <div class="widget">
									 <br>
									 <br>
									 <br>
                                <h2 class="widget-title">Celebrity's films</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">

										<div class="row portfolio-item">
											{% for f in celebrity_film %}
												<div class="col-lg-3 col-md-4 col-sm-6 soon released">
													<div class="single-portfolio">
														<div class="w-100 justify-content-between">
															<a href="{%url 'film_details' f.id%}" >
																<img src="{{ f.poster.url }}" alt="{{ f.name }}"   >
																<h5  style="position: bottom; " >{{ f.name }}</h5>
															</a>




														</div>
													</div>
												</div>
											{% endfor %}
										</div>
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
							</div>
						</div>
						<div class="details-thumb {% if not next_celebrity %}hidden{% endif %}">
                <div class="details-thumb-prev">
                  <div class="thumb-icon">
                    {% if previous_celebrity %}
                    <i class="icofont icofont-simple-left"></i>
                  </div>
                  <div class="thumb-text">
                      <a href="{% url 'celebrity_detail' previous_celebrity.id %}"><h3>Previous celebrity</h3></a>
                    {% endif %}
                  </div>
                </div>
                <div class="details-thumb-next {% if not next_celebrity %}hidden{% endif %}">
                  <div class="thumb-text">
                    {% if next_celebrity %}
                      <a href="{% url 'celebrity_detail' next_celebrity.id %}"><h3>Next celebrity</h3></a>
                  </div>
                  <div class="thumb-icon">
                    <i class="icofont icofont-simple-right"></i>
                  </div>
                  {% endif %}
				</div>
	</div>

					</div>
				</div>
			</div>
		</section><!-- details area end -->


{% endblock %}