
{% extends 'base.html' %}


{% block content %}
		<header class="header">
			<div class="container">
				<div class="header-area">
					<div class="logo">
						<a href="index-2.html"><img src="assets/img/logo.png" alt="logo" /></a>
					</div>
					<div class="header-right">
						<form action="#" method="get">
							{{ forms.query }}
							<button><i class="icofont icofont-search"></i></button>
						</form>
												    {% csrf_token %}
						<ul>

							{% if not request.user.is_authenticated %}
							<li><a href="">Welcome Guest!</a></li>

							<li><a  href="{% url 'signin' %}">Login</a></li>
							<li><a  href="{% url 'signup' %}">Registration</a></li>
							                            {% else %}
							<li><a href="{% url 'user_page' %}">Welcome {{request.user.username}}</a></li>

							<li><a  href="{% url 'logout' %}">Logout</a></li>
                            {% endif %}

						</ul>
					</div>
					<div class="menu-area">
						<div class="responsive-menu"></div>
					    <div class="mainmenu">
                            <ul id="primary-menu">
                                <li><a class="active" href="{%url 'home' %}">Home</a></li>
                                <li><a href="{% url 'celebrity_list' %}" title="">Celebrities List</a></li>
                                <li><a href="{%url 'film_list' %}">Movies</a></li>
<!--                                <li><a href="">CelebritiesList</a></li>-->
                                <li><a href="top-movies.html">Top Movies</a></li>
                                <li><a href="{%url 'news_list' %}">News</a></li>
								<li><a href="#">Pages <i class="icofont icofont-simple-down"></i></a>
									<ul>
										<li><a href="blog-details.html">Blog Details</a></li>
										<li><a href="movie-details.html">Movie Details</a></li>
									</ul>
								</li>
                                <li><a class="theme-btn" href="#"><i class="icofont icofont-ticket"></i> Tickets</a></li>
                            </ul>
					    </div>
					</div>
				</div>
			</div>
		</header>
        <section class="breadcrumb-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="breadcrumb-area-content">
							<h1>News Page</h1>
						</div>
					</div>
				</div>
			</div>
		</section><!-- breadcrumb area end -->
		<!-- blog area start -->
		<section class="blog-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
					    <div class="section-title pb-20">
							<h1><i class="icofont icofont-coffee-cup"></i> Latest News</h1>
						</div>
					</div>
				</div>
				<hr />
				<div class="row">
					<div class="col-lg-12">
						{% for n in news %}
						<div class="single-news">
								<img src="{{ n.main_image.url }}" alt="" >
							<div class="news-date">
								<h2><span>{{ n.created_at }}</span></h2>
							</div>
							<div class="news-content">
								<h2>{{ n.title }}</h2>
							</div>
							<a href="{% url 'news_details' n.id %}">Read More</a>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section><!-- blog area end -->

{% endblock %}